<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.castlebell.lingvo.board.dao.boardMapper">

  <resultMap id="boardResultMap" type="com.castlebell.lingvo.board.dao.domain.response.Board">
    <result property="category" column="category" />
    <result property="title" column="title" />
    <result property="userid" column="userid" />
    <result property="content" column="content" />
    <result property="url" column="url" />
    <result property="state" column="state" />
    <result property="mainViewYN" column="mainViewYN" />
    <result property="importantYN" column="importantYN" />
    <result property="hit" column="hit" />
    <result property="regdate" column="regdate" />
  </resultMap>

  <select id="getboardList" resultMap="boardResultMap" statementType="CALLABLE">
    { call [dbo].[boardList](
      #{gubun},
      #{pageNo},
      #{pageSize},
      #{sdate},
      #{edate},
      #{searchGubun},
      #{searchVal}
    ) }
  </select>

</mapper>