<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.castlebell.lingvo.work.dao.WorkMapper">

  <!-- 금일 작업시작하기, 예방활동체크 Start -->
  <resultMap id="workSafetyCheckMap" type="com.castlebell.lingvo.cmm.session.WorkSafetyCheck">
    <result property="errCode"           column="ERRCODE" />
    <result property="siteCode"          column="SITECODE" />
    <result property="siteName"          column="SITENAME" />
    <result property="siteAddress"       column="siteAddress" />
    <result property="constName"         column="CONSTNAME" />
    <result property="companyName"       column="COMPANYNAME" />
    <result property="workType"          column="WORKTYPE" />
    <result property="qrCode"           column="QRCODE" />
  </resultMap>
  
  <select id="workSafetyCheck" resultMap="workSafetyCheckMap"  statementType="CALLABLE">
        { call [dbo].[workSafetyCheck](
            #{gubun},
            #{userid},
            #{qrCode},
            #{workGubun},
            #{workClass},
            #{state},
            #{ip},
            #{workSeq},
            #{etcParam1},
            #{errMsg, mode=OUT, jdbcType=VARCHAR}
          )
        }
  </select>
  <!-- 금일 작업시작하기, 예방활동체크 End -->
  <!-- 안전예방활동체크 질문 리스트 Start -->
  <resultMap id="workClassMsgListMap" type="com.castlebell.lingvo.work.dao.domain.response.WorkClassMsgListResponse">
    <result property="step"                 column="step" />
    <result property="stepTotal"            column="stepTotal" />
    <result property="message"              column="message" />
  </resultMap>
  <select id="getWorkClassMsgList" resultMap="workClassMsgListMap"  statementType="CALLABLE">
        { call [dbo].[workClassMsgList](
            #{workGubun},
            #{workType}
          )
        }
  </select>
  <!-- 안전예방활동체크 질문 리스트 End -->

  <!-- 금일 작업시작하기, 예방활동체크 Start -->
  <select id="checkSurvey" resultMap="workSafetyCheckMap"  statementType="CALLABLE">
        { call [dbo].[workSafetyCheck](
            #{gubun},
            #{userid},
            #{qrCode},
            #{workGubun},
            #{workClass},
            #{state},
            #{ip},
            #{workSeq},
            #{etcParam1},
            #{errMsg, mode=OUT, jdbcType=VARCHAR}
          )
        }
  </select>
  
  <!-- 금일 작업시작하기, 예방활동체크 End -->
  <resultMap id="workIssueMsgMap" type="com.castlebell.lingvo.work.dao.domain.response.workIssueMsgListResponse">
    <result property="issueGubun"  column="issueGubun" />
    <result property="issueTitle"  column="issueTitle" />
    <result property="issueDetail" column="issueDetail" />
    <result property="choice1"     column="choice1" />
    <result property="choice2"     column="choice2" />
  </resultMap>
  <!-- 작업중지 상황별 메시지 리스트 Start -->
  <select id="getWorkIssueMsgList" statementType="CALLABLE" resultMap="workIssueMsgMap" >
    { call [dbo].[workIssueMsgList]( #{issueGubun}, #{etcParam1} ) }
  </select>
  <!-- 작업중지 상황별 메시지 리스트 End -->

</mapper>