<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.castlebell.lingvo.repository.MemberMapper">

  <!-- 금일 작업시작하기, 예방활동체크 Start -->
  <resultMap id="workSafetyCheckMap" type="com.castlebell.lingvo.domain.dao.work.WorkSafetyCheck">
    <result property="errCode"           column="ERRCODE" />
    <result property="siteCode"          column="SITECODE" />
    <result property="siteName"          column="SITENAME" />
    <result property="siteAddress"       column="siteAddress" />
    <result property="constName"         column="CONSTNAME" />
    <result property="companyName"       column="COMPANYNAME" />
    <result property="workType"          column="WORKTYPE" />
    <result property="workSeq"           column="WORKSEQ" />
  </resultMap>
  <select id="workSafetyCheck" resultMap="workSafetyCheckMap"  statementType="CALLABLE">
        { call [dbo].[workSafetyCheck](
            #{gubun},
            #{userid},
            #{qrCod},
            #{workGubun},
            #{workClass},
            #{state},
            #{ip},
            #{workSeq},
            #{etcParam1}
          )
        }
  </select>
  <!-- 금일 작업시작하기, 예방활동체크 End -->
</mapper>